<h1>Welcome {{user.username}}</h1>

<p>This is an area accessible to members only.</p>

<a href="/celebrities">See Celebrities</a>

<form action="/logout" method="POST">
    <button>Logout</button>
</form>