<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>


<nav>
  {{!-- With passport, you set the current user through the app.js, 
  res.locals.currentUser = req.user; --}} 
  {{#if currentUser}} 
  <h3>Welcome, {{currentUser.username}}</h3>

  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>

  {{else}}
  <a href="/login">Login</a>
  <a href="/signup">Create Account</a>
  {{/if}}
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>